/* container {
  display: flex;
  flex: 1;
  background-color: red;
  justify-content: center;
  align-items: center;
} */

/* body {
  font-family: "Roboto Slab", sans-serif;
  background: white;
  color: #484848;
  padding: 40px;
  justify-content: center;
}

input {
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #cfcfcf;
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  outline: none;
}

.displayErrors input:invalid {
  border-color: #f73772;
}

pre,
code {
  font-family: "Roboto Mono", Monaco;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #999;
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  border-bottom: 2px solid #797979;

  &:hover {
    background-color: #a1a1a1;
  }

  &:active {
    background-color: #888;
  }
}

form {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 20px;
  vertical-align: top;
}

.res-block {
  display: inline-block;
}

h3 {
  margin-top: 0;
} */
